body{
	background-color: #f3f3f3;
}

.nav-margin{
	margin-top: 40px;
}

.page-description{
	font-weight: normal;
	font-size: 18px
}

.margin-top-20{
	margin-top: 20px;
}

.dropdown-menu-lg{
	width: 300px !important;
	padding: 20px
}

.message-error{
	text-align: center;
	color:#b34040;
}

.dataTable > thead > tr > th{
    text-align: center;
    vertical-align: middle;
}
.dataTable > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

.center{
	text-align: center;
}

.display-none{
	display: none;
}

.bold{
	font-weight: bold;
}